* {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.main {
  padding: 0 auto;
  margin: 0 auto;
}

.navbar{
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 30px;
}

.navbar .logo {
  color: #d4a373;
  font-size: 42px;
  font-weight: 900;
  padding-top: 30px;
}
.navbar i{
  font-size: 50px;
  margin-right: 10px;
}

.navbar ul li {
  display: inline-block;
  align-items: center;
  letter-spacing: 3px;
  padding-top: 35px;
  margin-left: 45px;
}
.navbar ul li a {
  text-decoration: none;
  color: #ccd5ae;
  transition: .4 ease;
  background-color: #fefae0;
  font-size: 25px;
  font-family: tahoma, sans-serif;
  font-weight: 800;
  padding: 10px;
  border-radius: 20px;
}
.navbar ul li a:hover{
  background: transparent;
  border: 2px solid red;
  border-radius: 30px;
  padding: 10px;
}
.header{
  text-align: center;
  padding-top: 45px;
}

.header h2{
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ccd5ae;
}
.header .input-email {
  margin-top: 25px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  overflow: hidden;
  border: 3px solid #faedcd;
}
.header .input-button{
  margin-top: 25px;
  border-radius: 30px;
  padding: 5px;
  letter-spacing: 2px;
  font-size: 18px;
  overflow: hidden;
  border: 3px solid #faedcd;
  color: #d4a373;
}
.header .input-button:hover{
  background-color: #ccd5ae;
}
.cakes {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
  color:#ccd5ae;
}
.cake-type{
  margin-left: 30px;
}
.cake-type h3{
  color:#ccd5ae;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.cakes .cake-type a{
  text-decoration: none;
}
.cake-type h3:hover{
  transform: scale(1.2);
  border: 1px solid #ccd5ae;
  border-radius: 20px;
}
.pic {
  height: 300px;
  width: 300px;
}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.feature .images{
  text-align: center;
  margin: 10px;
  border: 2px solid #d4a373;
  padding: 20px;
  margin: 15px;
  position: relative;
  border-radius: 20px;
  padding-top: 20px;
  max-width: 500px;
  min-width: 30px;
  transition: .4s ease;
}
.feature .images:hover{
  transform: scale(1.2);
}
.feature .images h2{
  font-size: 22px;
  color: #d4a373;
  letter-spacing: 2px;
}
.feature .images form .btn1{
  border: 2px solid #d4a373;
  padding: 5px;
  border-radius: 20px;
  background: #ccd5ae;
  color:#d4a373;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 800;
}
.center .about .p .form .btn1 {
  border: 2px solid #d4a373;
  padding: 15px;
  border-radius: 20px;
  background: #ccd5ae;
  color:#d4a373;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 800;
}
.feature .images form .btn1:hover, .center .about .p .form .btn1:hover{
  background-color: transparent;
}
.feature .images form .btn2:hover,.center .about .p .form .btn2:hover{
  background-color: transparent;
}
.feature .images form .btn2{
  border: 4px solid #ccd5ae;
  padding: 5px;
  border-radius: 20px;
  background: #d4a373;
  color:#ccd5ae;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 800;
}
.center .about .p .form .btn2{
  border: 4px solid #ccd5ae;
  padding: 15px;
  border-radius: 20px;
  background: #d4a373;
  color:#ccd5ae;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 800;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  border-radius: 20px;
  padding: 45px;
}
.alex{
  width: 600px;
  height: auto;
  border-radius: 20px;
  transition: .4s ease;
}
.p h3{
  text-align: center;
  font-size: 45px;
  letter-spacing: 2px;
  color: #d4a373;
  padding-top: 30%;
  margin-left: 30px;
}
.center .about .p .form2, .center .about .p .select {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
  text-align: center;
}
.center .about .p .select select{
  border: 2px solid #d4a373;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 20px;
  font-size: 25px;
  color:#d4a373;
}
.center .form .price{
  text-align: center;
  font-size: 45px;
  letter-spacing: 2px;
  color: #ccd5ae;
  padding-top: 20%;
  margin-left: 30px;
  
}

.about .pics{
  overflow: hidden;
  margin-right: 10px;
}
.about .picss{
  overflow: hidden;
  margin-right: 10px;
}
.about .pics .alex:hover, .about .picss .alex:hover{
  transform: scale(1.1);
}
.main2 {
  padding-top: 50px;
}
.main2 .label {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;
  display: flex;
}

.main2 .label .svg {
  color: #d4a373;
  font-size: 25px;
  min-width: 110px;
}
.main2 .label .paragraph{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main2 .label .paragraph h2{
  font-size: 27px;
  font-family: tahoma;
  letter-spacing: 3px;
  color:#ccd5ae;
}
.main2 .label .paragraph p {
  letter-spacing: 2px;
  font-size: 20px;
  font-family: times new roman, sans-serif;
  color:#d4a373;
  font-weight: bold;
}
.labels{
  border: 2px solid #d4a373;
  overflow: hidden;
}

.video {
  display: flex;
  justify-content: center;
  padding-top: 55px;
}
.video #video{
  width: 700px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
}

.box .boxes{
  height:260px;
  width: 250px;
  background: #d4a373;
  padding: 20px;
  margin: 15px;
  text-align: center;
  position: relative;
  border-radius: 20px;
  padding-top: 20px;
  max-width: 500px;
  min-width: 30px;
}
.box .boxes h3{
  background: #d4a373;
  font-size: 30px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-family: sans-serif;
  color: rgb(123, 47, 47);
}

.box .boxes h2{
  background: #d4a373;
  font-size: 32px;
  color: rgb(123, 47, 47);
  padding-bottom: 10px;
  letter-spacing: 1px;
  min-width: 30px;
}
.box .boxes p {
  background: #d4a373;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgb(123, 47, 47);
}
.box .boxes form{
  margin-top: 10px;
  background: #d4a373;
}
.box .boxes form input {
  padding: 10px;
  border-radius: 20px;
  background: rgb(123, 47, 47);
  color: #fff;
  font-weight: 500;
  transition: .4 ease;
}
.box .boxes form input:hover{
  background: transparent;
  transform: scale(1.2);
}
.icons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 40px;
}
.icons .icon a {
  color:#d4a373;
  margin-left: 30px;
}

.icons .icon a:hover{
  color: #ccd5ae;
}