body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
html{
  scroll-behavior: smooth;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding:15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: .3s;
}
button.b2{
  font-size: 13px;
  font-weight: 600;
  padding:11px 18px;
  color: #fff;
  background-color:transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: .2s;
  border: 1px solid #fff;
}
button.b2:hover{
  background-color: #e8f6ea;
  color:#14213d;
}
button.normal:hover{
  font-size: 14px;
  font-weight: 600;
  padding:15px 30px;
  color: #000;
  background-color: #4b4c57;
  opacity: 950%;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
}
/* header */
.main {
  padding: 0 auto;
  margin: 0 auto;
}

.navbar{
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  justify-content: space-between;
  margin: 0;
  padding: 0 30px;
  box-shadow: 0 0 20px #333333 ;
  background:#e5e5e5;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 6;
}

.navbar .logo {
  font-size: 32px;
  font-weight: 800;
  background: linear-gradient(to right, #14213d, #fca311 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar i{
  font-size: 40px;
  margin-right: 10px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
.navbar ul li{
  padding-right: 10px;
}
.navbar ul li a {
  text-decoration: none;
  background: linear-gradient(to right, #14213d, #fca311 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .4 ease;
  font-size: 18px;
  font-family: tahoma, sans-serif;
  font-weight: 800;
  padding: 0 20px;
}
.navbar ul li a:hover{
  background: linear-gradient(to right, #fca311, #14213d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* /header */
/* header2 */
.header{
  text-align: center;
  padding-top: 35px;
}

.header h2{
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: #14213d;
}
/* .header .input-email {
  margin-top: 25px;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  overflow: hidden;
  border: 3px solid #faedcd;
}
.header .input-button{
  margin-top: 25px;
  border-radius: 30px;
  padding: 5px;
  letter-spacing: 2px;
  font-size: 18px;
  overflow: hidden;
  border: 3px solid #faedcd;
  color: #d4a373;
}
.header .input-button:hover{
  background-color: #ccd5ae;
} */
/* choises */
.cakes {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color:#2b2d42;
  position: sticky;
  top: 10%;
  left: 0;
  z-index: 7;
  background-color: #ffffff;
}
.cake-type{
  margin-left: 30px;
}
.cake-type h3{
  color:#2b2d42;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.cakes .cake-type a{
  text-decoration: none;
}
.cake-type h3:hover{
  transform: scale(1.02);
  border-radius: 20px;
  color: #fca311;
}
/* /header2*/
/* first items */
.pic {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(0,0,0,0.3);
}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.feature .images{
  border: 1px solid #14213d;
  padding: 10px 10px 0px 10px;
  margin: 0 25px;
  border-radius: 20px;
  transition: .4s ease;
  box-shadow: 0px 0px 20px rgb(0,0,0,0.3);
  position: relative;
}
.feature .images:hover{
  transform: scale(1.02);
}
.feature .images .des{
  text-align: start;
  padding: 15px 0;
}
.feature .images .des .name{
  color: #060606;
  font-size: 14px;
  opacity: 70%;
}
.feature .images .des h5{
  position: relative;
  color: #1a1a1a;
  font-size: 14px;
}
.feature .images .des .star{
  position: relative;
  font-size: 12px;
  color: rgb(243, 181, 25);
  margin-top: -20px;
}
.feature .images .des h4, .feature .images .des span{
  font-size: 17px;
  font-weight: 700;
  color: #fca311;
  margin-top: -1px;
}
.feature .images .cart{
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  position: absolute;
  right: 10%;
  top: 80%;
}
.feature .images .cart:hover{
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  position: absolute;
  right: 10%;
  top: 80%;
  border: 1px solid #14213d;
}
/* .feature .images form .container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid black;
  height: 90px;
  width: 100px;
  overflow: hidden;
}
.feature .images form .container #minus, .feature .images form .container #add, .feature .images form .container .save{
  width: 30px;
  height: 15px;
} */
.main2 {
  text-align: start;
}
.main2 .label {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.main2 .label .svg {
  background: linear-gradient(to right, #14213d, #fca311 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  min-width: 110px;
}
.main2 .label .paragraph{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -20px;
}

.main2 .label .paragraph h2{
  font-size: 27px;
  font-family: tahoma;
  letter-spacing: 3px;
  color:#14213d;
}
.main2 .label .paragraph p {
  letter-spacing: 2px;
  font-size: 20px;
  font-family: times new roman, sans-serif;
  color:#333333;
  font-weight: bold;
  position: relative;
  top: -20px;
}
/* banner */
.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #14213d;
  background-size: cover;
  width: 100%;
  height: 40vh;
  background-position: center;
}
.banner h4{
  font-size: 22px;
  color: #e5e5e5;
  font-weight: 800;
}
.banner h2{
  font-size: 32px;
  color:#e8f6ea;
}
.banner h2 span{
  font-size: 35px;
  color:#fca311;
}
/* banner */
/*banner2 */
.banner-start{
  margin: 60px 0;
  background: #4b4c57;
  padding: 20px 0;
}
.banner2{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  color:#fff;
  letter-spacing: 2px;
  width: 100%;
}
.banner2 .bannerb, .banner2 .bannerb-1{
  display: flex;
  max-width: 35%;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  min-width: 580px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  background-image: url(img/image41.png);
}
.banner2 .bannerb-1{
  background-image: url(img/promo.jpg);
  color: #000;
  text-align: center !important;
}
.banner2 .bannerb h2{
  background: none;
}
.banner2 .bannerb-1 h2{
  background: violet;
}
.banner2 .bannerb-1 h3{
  display: none;
}
.banner2 h2{
  font-size: 30px;
  background: #ffffff;
}
.banner2 h3{
  color:#000;
}
.banner2 .bannerb2{
  display: flex;
  width: 25%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  color: #14213d;
  border-radius: 20px;
}
.banner2 .b2a{
  background-image: url(img/bannerb.jpg);
}
.banner2 .b2b{
  background-image: url(img/b2b.jpg);
}
.banner2 .btc{
  background-image: url(img/btc.jpg);
}
/* /banner2 */
/*
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  border-radius: 20px;
  padding: 45px;
}
.alex{
  width: 400px;
  height: auto;
  border-radius: 20px;
  transition: .4s ease;
}
.p h3{
  text-align: center;
  font-size: 45px;
  letter-spacing: 2px;
  color: #14213d;
  padding-top: 30%;
  margin-left: 30px;
}
.center .about .p .form2, .center .about .p .select {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
  text-align: center;
}
.center .about .p .select select{
  border: 2px solid #d4a373;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 20px;
  font-size: 25px;
  color:#d4a373;
}
.center .form .price{
  text-align: center;
  font-size: 45px;
  letter-spacing: 2px;
  color: #ccd5ae;
  padding-top: 20%;
  margin-left: 30px;
  
}

.about .pics{
  overflow: hidden;
  margin-right: 10px;
}
.about .picss{
  overflow: hidden;
  margin-right: 10px;
}
.about .pics .alex:hover, .about .picss .alex:hover{
  transform: scale(1.1);
}

.labels{
  border: 2px solid #d4a373;
  overflow: hidden;
}

*/
.video {
  display: flex;
  justify-content: center;
  padding-top: 55px;
}
.video #video{
  width: 700px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
}

.box .boxes{
  height:260px;
  width: 250px;
  background: #d4a373;
  padding: 20px;
  margin: 15px;
  text-align: center;
  position: relative;
  border-radius: 20px;
  padding-top: 20px;
  max-width: 500px;
  min-width: 30px;
}
.box .boxes h3{
  background: #d4a373;
  font-size: 30px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-family: sans-serif;
  color: rgb(123, 47, 47);
}

.box .boxes h2{
  background: #d4a373;
  font-size: 32px;
  color: rgb(123, 47, 47);
  padding-bottom: 10px;
  letter-spacing: 1px;
  min-width: 30px;
}
.box .boxes p {
  background: #d4a373;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgb(123, 47, 47);
}
.box .boxes form{
  margin-top: 10px;
  background: #d4a373;
}
.box .boxes form input {
  padding: 10px;
  border-radius: 20px;
  background: rgb(123, 47, 47);
  color: #fff;
  font-weight: 500;
  transition: .4 ease;
}
.box .boxes form input:hover{
  background: transparent;
  transform: scale(1.2);
}
.icons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 40px;
}
.icons .icon a {
  color:#d4a373;
  margin-left: 30px;
}

.icons .icon a:hover{
  color: #ccd5ae;
}

